@use '../util' as u;

:root {
    // font-size
    --fs-body: #{u.rem(14)};
    --fs-large: #{u.rem(18)};
    --fs-xlarge: #{u.rem(24)};
    --fs-xxlarge: #{u.rem(40)};
    --fs-3xlarge: #{u.rem(52)};

    // font-family
    --ff-primary: "Rubik", sans-serif;

    // font-weight
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
}